@model IdentityServer.Quickstart.Account.CreateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <title>Lulapay - Create Account</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<div class="container-fluid m-0 p-0">
    <div class="row no-gutters">
        <partial name="_Hero"/>
        <div class="col-md-8 bg-light">
            <div class="m-3">
                <partial name="_ValidationSummary"/>
            </div>
            <div class="card border-0 mx-auto my-5 w-75">
                <div class="card-body">
                    <p>
                        <small class="text-muted">Create an account for free</small>
                    </p>
                    <h1 class="text-primary text-left"><strong>Sign up</strong> to lulapay</h1>
                    <form asp-route="Create">
                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="ReturnUrl"/>

                        <div class="form-group">
                            <small><label class="form-label" asp-for="FirstName"></label></small>
                            <input class="form-control" placeholder="Enter name" asp-for="FirstName" autofocus/>
                            <small><span class="text-danger" asp-validation-for="FirstName"></span></small>
                        </div>
                        <div class="form-group">
                            <small><label class="form-label" asp-for="LastName"></label></small>
                            <input class="form-control" placeholder="Enter surname" asp-for="LastName"/>
                            <small><span class="text-danger" asp-validation-for="LastName"></span></small>
                        </div>
                        <div class="form-group">
                            <small><label class="form-label" asp-for="Email"></label></small>
                            <input class="form-control" placeholder="Enter email address" asp-for="Email"/>
                            <small><span class="text-danger" asp-validation-for="Email"></span></small>
                        </div>
                        <div class="form-group">
                            <small><label class="form-label" asp-for="PhoneNumber"></label></small>
                            <input class="form-control" placeholder="00 000 0000" asp-for="PhoneNumber"/>
                            <small><span class="text-danger" asp-validation-for="PhoneNumber"></span></small>
                        </div>
                        <div class="form-group">
                            <small><label class="form-label" asp-for="Password"></label></small>
                            <input type="password" class="form-control" placeholder="Enter password" asp-for="Password" autocomplete="off"/>
                            <small><span class="text-danger" asp-validation-for="Password"></span></small>
                        </div>
                        <div class="form-group text-center">
                            <small class="text-muted">
                                <label class="form-check-label">
                                    By signing up, you agree to our <a href="/terms" target="_blank" class="text-dark">terms</a>
                                    and <a href="/privacy" target="_blank" class="text-dark">privacy policy</a>
                                </label>
                            </small>
                        </div>

                        <button class="btn btn-primary btn-block" name="button" value="create">Create Account</button>
                    </form>
                    <div class="text-center mt-3">
                        <p class="mb-0">
                            <small>
                                <a href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })"
                                   class="text-decoration-none text-dark">
                                    Already have an account?
                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <partial name="_Footer"/>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
