<p class="bg-white m-0 p-5">
    <small class="text-muted">
        Lula Lend (Pty) Ltd, Reg. No. 2014/156767/07 is an authorised
        distribution partner of Access Bank South Africa Limited, Reg. No.:
        1947/025414/06, Authorised Financial Services Provider (FSP 5865).
    </small>
</p>